{% extends 'pages/ux_turbo_frame.html.twig' %}

{% block turbo_frame %}

    <turbo-frame id="my_first_turbo_frame">

        <h2>Frame #2</h2>

        <p>Lorem ipsum dolor sit amet. Et autem ullam id internos necessitatibus ut voluptatem itaque sit nihil minima qui fuga nihil? Ut alias nisi non magnam dolores qui rerum perspiciatis. Aut autem nemo est nihil unde id quas fugit At optio corporis sed modi autem. Ut voluptates amet qui cupiditate quae in atque exercitationem.

        <p>Qui assumenda blanditiis aut iure consequatur aut saepe molestias aut ipsum perspiciatis aut blanditiis soluta eum quia nihil. Quo numquam provident et temporibus repellendus a quas consequatur eos dolorem dolorem. Vel rerum dignissimos qui voluptatem impedit et vero voluptatem qui omnis voluptates.

        <p>Blanditiis consequatur quaerat alias cum totam omnis. A Quis quas et aliquam consequatur ab esse dignissimos sit recusandae quibusdam aut voluptas facere est mollitia dolorum qui voluptatem porro? Ut dolorem suscipit cum officia illum et sapiente maxime sed voluptate quasi?

        <p><a href="{{ path('ux_turbo_frame_1') }}">Back to frame #1</a></p>

        <p><a href="{{ path('ux_turbo_drive_1') }}" data-turbo-frame="_top">Go to Turbo Drive</a></p>

    </turbo-frame>

{% endblock %}
