{% extends 'pages/ux_turbo_stream.html.twig' %}

{% block content %}

    <div class="container mt-5">

        <h1>Symfony UX TURBO STREAM Manager</h1>

        <div class="py-5">{{ form(form) }}</div>

    </div>

{% endblock %}