{% extends 'pages/ux_turbo_frame.html.twig' %}

{% block turbo_frame %}

    <turbo-frame id="my_first_turbo_frame">

        <h2>Frame #1</h2>

        <p>Blanditiis consequatur quaerat alias cum totam omnis. A Quis quas et aliquam consequatur ab esse dignissimos sit recusandae quibusdam aut voluptas facere est mollitia dolorum qui voluptatem porro? Ut dolorem suscipit cum officia illum et sapiente maxime sed voluptate quasi?

        <p><a href="{{ path('ux_turbo_frame_2') }}">Go to frame #2</a></p>

    </turbo-frame>

{% endblock %}
