{% extends 'base.html.twig' %}

{% block title %}Edit Badge{% endblock %}

{% block content %}

    <div class="container mt-5">

        <h1>Edit Badge</h1>

        {{ include('badge/_form.html.twig', {'button_label': 'Update'}) }}

        <a class="btn btn-sm btn-secondary my-2" href="{{ path('badge_index') }}">back to list</a>

        {{ include('badge/_delete_form.html.twig') }}

    </div>
    
{% endblock %}
